<body>
	<div class="card">
		<div class="card-body">
			<h5 class="card-title">Orders</h5>
			<!-- Tabs Opcions -->
			<ul class="nav nav-tabs" id="myTab" role="tablist">
				<li class="nav-item">
					<a class="nav-link active" id="create-tab" data-toggle="tab" href="#create" role="tab" aria-controls="create" aria-selected="true">Create</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="profile-tab" onclick="reloadInitDataTable()" data-toggle="tab" href="#search" role="tab" aria-controls="search" aria-selected="false">Search</a>
				</li>
			</ul>
			<!-- tabs for orders content -->
			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade show active" id="create" role="tabpanel" aria-labelledby="create-tab">
					<form class="needs-validation" id="form-order" action="#">
						<div class="form-group row mt-3 ml-3">
							<label for="orderCustomer">Customers List</label>
							<div class="col-sm-10">
								<input type="text" onchange="changeCustomer()" required class="form-control typeahead no-clear" id="orderCustomer" placeholder="juan_soto@testbeitech.com">
								<small id="orderCustomerHelp" class="form-text text-muted">
									(Type a letter and select a customer)
								</small>
								<input type="hidden" id="idOrderCustomer" name="idOrderCustomer" value="">
							</div>
						</div>
						<div class="form-group row mt-3">
							<label for="orderCustomer">Customers Address</label>
							<div class="col-sm-10">
								<input type="text"  required class="form-control typeahead no-clear" id="orderAddress" name="orderAddress" placeholder="Av 34 # 23 - 60">
							</div>
						</div>
						<div class="form-group row mt-3 ml-3">
							<label for="orderProduct">Products List</label>
							<div class="col-sm-10 ml-3">
								<input type="text" class="form-control typeahead no-clear" id="orderProduct" name="orderProduct" placeholder="Search Product">
								<small id="orderProductHelp" class="form-text text-muted">
									(Type a letter and select a product)
								</small>
							</div>
						</div>
						<hr>
						<div id="products">
						</div>
						<div id="total">
							<div class="col-md-3 offset-md-9">
								<b>Total:</b><label class="label-control ml-2" id="orderTotal"></label>
							</div>
							<div class="col-md-3 offset-md-9">
								<button type="submit" id="btnCreateOrder" class="btn btn-success col-md-6">Save Order</button>
							</div>
						</div>
						<input type="hidden" id="productsCreate" name="productsCreate" value=""/>
					</form>
				</div>
				<div class="tab-pane fade" id="search" role="tabpanel" aria-labelledby="search-tab">
					<div class="form-group row mt-3 ml-3">
						<div class="form-row">
							<div class="col-6">
								<label for="orderCustomer">Customers List</label>
								<input type="text" required class="form-control typeahead no-clear" id="customerFilter" placeholder="juan_soto@testbeitech.com">
								<small id="orderCustomerHelp" class="form-text text-muted">
									(Type a letter and select a customer)
								</small>
								<input type="hidden" id="idCustomerFilter" name="idCustomerFilter" value="">
								<button class="btn btn-success" id="btnClearSearch" onclick="clearSearch()" >Clear Customer</button>
							</div>
							<div class="col-md-3">
								<label class="" for="dateIniFilter">From</label>
								<input type="date" required class="form-control" min="2010-01-03" id="dateIniFilter" >
							</div>
							<div class="col-md-3">
								<label class="" for="dateEndFilter">To</label>
								<input type="date" required class="form-control" min="2010-01-03" max="2020-12-24" id="dateEndFilter">
							</div>
						</div>
						<div class="col-sm-12 mt-3">
							<table id="tableOrders" 
								   data-toggle="table" 
								   data-pagination="true"
								   data-side-pagination="server"
								   data-classes="table table-bordered table-striped auto"
								   data-method="get"
								   data-page-size="20"
								   data-url="index.php/listOrders">
								<thead>
									<tr>
										<th data-field="creation_date">Creation Date</th>
										<th data-field="order_id">Order Id</th>
										<th data-field="total">Total</th>
										<th data-field="delivery_address">Address</th>
										<th data-field="products">Products</th>
									</tr>
								</thead>
							</table>
						</div>
					</div>
				</div>
			</div>	
		</div>
	</div>
</body>